<h1>
<%= @seller.name %>
</h1>
  
<h2>Seller Type: <%= @seller.seller_type %></h2>

<p> <%=@seller.name%>'s <%= link_to 'Listings', seller_homes_path(@seller) %></p>


<br />

<%= render(partial: 'nav') %>

