<h1>
 Addresses
</h1>
<hr />

<% if @addresses.any? %>
    <ul>
  <% @addresses.each do |address| %>
      <li>
        <%= link_to address.street, addresses_path(@address) %>
        <%= link_to address.city, addresses_path(@address) %>
        <%= link_to address.state, addresses_path(@address) %>
        <%= link_to address.zip, addresses_path(@address) %>

      </li>
      <% end %>
    </ul>
<% else %>
  <h3>No Address, please add one!</h3>
<% end %>

<hr />

<%= link_to 'New Address', new_seller_home_address_path(seller_id: @seller.id, home_id: @home.id) %>