<h1>Address:
</h1>
<hr />

<p>Street: <%= @address.street %></p>
<p>City: <%= @address.city %></p>
<p>State: <%= @address.state %></p>
<p>Zip: <%= @address.zip %></p>

| <%= link_to 'Back to Listing', seller_home_path(
seller_id: @seller.id, id: @home.id) %> |
